@model Models.ProfileModels.QualityAssuranceProfile

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>QualityAssuranceProfile</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.RowId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RowId)
                @Html.ValidationMessageFor(model => model.RowId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParentId)
                @Html.ValidationMessageFor(model => model.ParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EffectiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EffectiveDate)
                @Html.ValidationMessageFor(model => model.EffectiveDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created)
                @Html.ValidationMessageFor(model => model.Created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedById, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedById)
                @Html.ValidationMessageFor(model => model.CreatedById)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdated, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdated)
                @Html.ValidationMessageFor(model => model.LastUpdated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdatedById, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdatedById)
                @Html.ValidationMessageFor(model => model.LastUpdatedById)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastUpdatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdatedBy)
                @Html.ValidationMessageFor(model => model.LastUpdatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfileSummary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfileSummary)
                @Html.ValidationMessageFor(model => model.ProfileSummary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppealPolicy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppealPolicy)
                @Html.ValidationMessageFor(model => model.AppealPolicy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssuranceDuration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssuranceDuration)
                @Html.ValidationMessageFor(model => model.AssuranceDuration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssuranceRequirementsReviewFrequency, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssuranceRequirementsReviewFrequency)
                @Html.ValidationMessageFor(model => model.AssuranceRequirementsReviewFrequency)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssuranceStaffSelectionCriteria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssuranceStaffSelectionCriteria)
                @Html.ValidationMessageFor(model => model.AssuranceStaffSelectionCriteria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintPolicy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComplaintPolicy)
                @Html.ValidationMessageFor(model => model.ComplaintPolicy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConflictOfInterestPolicy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConflictOfInterestPolicy)
                @Html.ValidationMessageFor(model => model.ConflictOfInterestPolicy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DecisionInformationWithoutRequest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DecisionInformationWithoutRequest)
                @Html.ValidationMessageFor(model => model.DecisionInformationWithoutRequest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DecisionInformationWithRequest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DecisionInformationWithRequest)
                @Html.ValidationMessageFor(model => model.DecisionInformationWithRequest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DecisionSampleUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DecisionSampleUrl)
                @Html.ValidationMessageFor(model => model.DecisionSampleUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OutcomeReview, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OutcomeReview)
                @Html.ValidationMessageFor(model => model.OutcomeReview)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProviderInformationWithoutRequest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProviderInformationWithoutRequest)
                @Html.ValidationMessageFor(model => model.ProviderInformationWithoutRequest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProviderInformationWithRequest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProviderInformationWithRequest)
                @Html.ValidationMessageFor(model => model.ProviderInformationWithRequest)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
