@model Models.Common.OrganizationQAProfile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>OrganizationQAProfile</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor( model => model.OrganizationId, htmlAttributes: new { @class = "control-label col-md-6" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.OrganizationId )
                @Html.ValidationMessageFor( model => model.OrganizationId )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BodyTypeId, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BodyTypeId)
                @Html.ValidationMessageFor(model => model.BodyTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url)
                @Html.ValidationMessageFor(model => model.Url)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagingConflictsUrl, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagingConflictsUrl)
                @Html.ValidationMessageFor(model => model.ManagingConflictsUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintsUrl, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComplaintsUrl)
                @Html.ValidationMessageFor(model => model.ComplaintsUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppealsUrl, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppealsUrl)
                @Html.ValidationMessageFor(model => model.AppealsUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExternalRecognitionUrl, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExternalRecognitionUrl)
                @Html.ValidationMessageFor(model => model.ExternalRecognitionUrl)
            </div>
        </div>

        <div style="display:none">
            <div class="form-group">
                @Html.LabelFor( model => model.Created, htmlAttributes: new { @class = "control-label col-md-6" } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.Created )
                    @Html.ValidationMessageFor( model => model.Created )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( model => model.CreatedById, htmlAttributes: new { @class = "control-label col-md-6" } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.CreatedById )
                    @Html.ValidationMessageFor( model => model.CreatedById )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( model => model.LastUpdated, htmlAttributes: new { @class = "control-label col-md-6" } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.LastUpdated )
                    @Html.ValidationMessageFor( model => model.LastUpdated )
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor( model => model.LastUpdatedById, htmlAttributes: new { @class = "control-label col-md-6" } )
                <div class="col-md-10">
                    @Html.EditorFor( model => model.LastUpdatedById )
                    @Html.ValidationMessageFor( model => model.LastUpdatedById )
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
