@model IEnumerable<Models.Common.OrganizationQAProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
   
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagingConflictsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppealsUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalRecognitionUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagingConflictsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppealsUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalRecognitionUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
