@model Models.Common.Credential
@*@using System.Reflection;*@
@using Models.Common;
@using CTIServices
@{
    ViewBag.Title = "Viewing Credential";

}

<script type="text/javascript">
    var model = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize( Model ).Replace( "\"\\/Date(", "new Date(" ).Replace( ")\\/\"", ").toString()" ) );
    var jsonLD = @Html.Raw( new JsonLDServices().GetSerializedJsonLDCredential( Model ) );
	$(document).ready(function() {
	    //$(".json").html(JSON.stringify(model, null, "\t"));
	    $(".json").html(JSON.stringify(jsonLD, null, "\t"));
	});
</script>

<style type="text/css">
    #content { position: relative; }
    h1 { padding-right: 50px; }
    .editLink { position: absolute; top: 15px; right: calc(5vw + 5px); }

    .section { margin-bottom: 15px; }
    .section h2 { margin: 0 0 5px 0; padding: 0; }
    .section ul { margin: 0; }

    .basic .url { display: block; font-weight: bold; }
    .description { padding: 5px; }

    .creatorOrganization { border: 1px solid #EEE; padding: 5px; position: relative; }
    .creatorOrganization .title { font-size: 20px; display: block; min-height: 30px; padding-right: 100px; }
    .creatorOrganization .date { position: absolute; top: 5px; right: 5px; font-style: italic; opacity: 0.7; padding: 0 5px; }

    .version a { display: block; }

	.json { white-space: pre-wrap; font-family: Consolas, 'Courier New', monospace; font-size: 14px; background-color: #F5F5F5; padding: 5px; }

</style>

<h1>@Model.Name</h1>

<div id="pageContent">
    @if (AccountServices.CanUserPublishContent()) 
    {
	    <a class="editLink linkButton" href="@Url.Content("~/CredentialManagement/Edit/")@Model.Id">Edit</a>
    }
	<div class="section basic">
		<h2>Description</h2>
		<div class="description">@Model.Description</div>
		<a class="url" href="@Model.Url" target="_blank">@Model.Url</a>
	</div>

    @if ( Model.CreatorOrganization != null && Model.CreatorOrganization.Id > 0 ) { 
    <div class="section creator">
        <h2>Created By</h2>
        <div class="creatorOrganization">
            <div class="date">@Model.CreatorOrganization.LastUpdatedDisplay</div>
            <a class="title" href="@Url.Content("~/OrganizationManagement/Detail/" + Model.CreatorOrganization.Id)">@Model.CreatorOrganization.Name</a>
            <div>@Model.CreatorOrganization.Description</div>
        </div>
    </div>
    }
    
	<div class="section version">
        <h2>Version Information</h2>
		<div>Version: @Model.Version</div>
        @if ( !string.IsNullOrWhiteSpace( Model.LatestVersionUrl ) ) { 
		<a href="@Model.LatestVersionUrl">Latest Version</a>
        }
        @if ( !string.IsNullOrWhiteSpace( Model.ReplacesVersionUrl ) )
        {
		<a href="@Model.ReplacesVersionUrl">Previous Version</a>
        }
	</div>

    <div class="section tags">
        @* //Interesting experiment - functional but perhaps too prone to unintended consequences
        @{ var properties = Model.GetType().GetProperties().Where( m => m.PropertyType == typeof( Models.Common.Enumeration ) && m.GetValue( Model ) != null ).Select( m => m.GetValue( Model ) as Models.Common.Enumeration ).Where( m => m.Items.Count() > 0 ).ToList(); }
        @foreach ( var tagList in properties )
        {
            <div>@tagList.Name, @tagList.SchemaName, @tagList.Items.Count()</div>
        }
        *@
        @{  //Same idea as above, but with controlled list
            var lists = new List<Enumeration>();
            lists.Add( Model.Purpose );
            lists.Add( Model.CredentialType );
            lists.Add( Model.CredentialLevel );
        }
        @foreach ( var item in lists.Where( m => m != null && m.Items.Count() > 0 ).ToList() )
        {
            <div class="section @item.SchemaName">
                <h2>@item.Name</h2>
                <ul>
                    @foreach ( var listItem in item.Items )
                    {
                        <li>@listItem.Name</li>
                    }
                </ul>
            </div>
        }
    </div>
    @if ( Model.EstimatedTimeToEarn != null && Model.EstimatedTimeToEarn.Count > 0 )
    {
        <div class="section identifiers">
            <h2>Estimated Time to Earn</h2>
            <div class="identifiersList">
                @foreach ( var item in Model.EstimatedTimeToEarn )
                {
                    <div>@item.ProfileSummary</div>
                }
            </div>
        </div>
    }
    @if ( Model.Region != null && Model.Region.Count > 0 )
    {
        <div class="section identifiers">
            <h2>Regions</h2>
            <div class="identifiersList">
                @foreach ( var item in Model.Region )
                {
                    <div><a href="@item.Url">@item.ProfileSummary</a> </div>
                }
            </div>
        </div>
    }
    
    @if (ViewBag.IsAdmin)
    {
	    <div class="section rawData">
		    <h2>Raw Data</h2>
		    <div class="json"></div>
	    </div>
    }
</div>