@model List<Models.Common.CredentialSummary>
@using CTIServices
@{
    ViewBag.Title = "Credential Management Home";
}

@Html.Partial( "~/Views/Shared/Management/_SearchCore.cshtml" )

<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $('#reset').click(function () {
                $('#Keyword').val('')
            });
        });

        $("#Keyword").autocomplete({
            minLength: 2,
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Content( "~/CredentialManagement/CredentialList" )",
                    type: "POST",
                    dataType: "json",
                    data: { keyword: request.term, maxTerms: 20 },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { 
                                label: item.ListTitle, 
                                value: item.Name,
                                id: item.Id
                            };
                        }))
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            //select
            select: function (event, ui) {
                $("#txtResult").val(ui.item.label);
                $("#txtId").val(ui.item.id);
                //window.location.href = "/CredentialManagement/Detail/" + ui.item.id;
            },
        });
    })

</script>

<h1>Credential Management</h1>
@using ( Html.BeginForm() )
    {
    <div id="searchContainer" class="form-horizontal">
        <div class="form-group">
            Keyword
            <div class="col-md-4">
                <input class="form-control ui-autocomplete-input" id="Keyword" name="Keyword" placeholder="Keyword(s), enter at least 3 letters" type="text" value="" autocomplete="off" style="width: 50%;" />
            </div>
            <div class="col-md-4" style="display:none;">
                <input class="form-control" id="txtResult" name="txtResult"  type="text" value="" autocomplete="off" style="width: 50%;" />
                <input class="form-control" id="txtId" name="txtId" type="text" value="" autocomplete="off" style="width: 50%;" />
            </div>

        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
                <input type="button" value="Clear" id="reset" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
<div id="buttons">
@if (AccountServices.CanUserPublishContent()) {
	<a class="linkButton" href="@Url.Content("~/CredentialManagement/Edit")">Create new Credential</a>
}    
</div>
<div style="margin: 5px;">

    @if ( Model.Count > 0 )
    {

        <div>
            <strong> @Model.Count credentials were found.</strong>
        </div>
    }
    else
    {
        <div>
            <i>Sorry no credentials were found.</i>
        </div>
    }
</div>
    @foreach ( var item in Model )
{
    <div class="result" style="background-color: #FFF; color: #000;" data-resultid="@item.Id">
        <a class="title" href="@Url.Content("~/CredentialManagement/Detail/")@item.Id">@item.Name</a>
        <div class="description">
            @item.Description
            @if ( item.CreatorOrganizationName != null )
            {
                <div>
                    Created By:
                    <a href="@Url.Content("~/OrganizationManagement/Detail/")@item.CreatorOrganizationId">@item.CreatorOrganizationName</a>
                </div>
            }
        </div>
        <div class="controls">
            <div class="date">@item.LastUpdated.ToShortDateString()</div>
            @if ( AccountServices.CanUserPublishContent() )
            {
                <a class="editLink linkButton" href="@Url.Content("~/CredentialManagement/Edit/")@item.Id">Edit</a>
                <input type="button" class="btnDelete" value="Delete" onclick="deleteResult('@item.Name', @item.Id, 'Credential', 'credentialmanagement');" />
            }
        </div>
    </div>
}
