<div id="footerLogoBox">
	@*<a href="http://www.credentialtransparencyinitiative.org/" target="_blank" id="footerLogo">*@
	<div id="footerLogo">
		<img src="@Url.Content( "~/Images/Common/cti_logo_narrow_med.png" )" alt="CTI Logo" /><!--
		--><div id="footerLogoText">To learn more about how the Credential Transparency Initiative can help your organization become more involved, <a href="http://www.credentialtransparencyinitiative.org/" target="_blank">visit the CTI website</a> and see a list of <a href="http://credreg.net/page/introduction">CTI leaders and stakeholders</a>.</div>
	</div>
	@*</a>*@
</div>
<div id="footerLinks">
	<div class="column">
		<h5>Managed by:</h5>
		<a href="http://gwipp.gwu.edu/" title="George Washington University" target="_blank"><img src="@Url.Content( "~/images/footer/logo-gwu.jpg" )" alt="" /></a>
		<a href="http://cwd.siu.edu/" title="Southern Illinois University" target="_blank"><img src="@Url.Content( "~/images/footer/logo-siu.gif" )" alt="" /></a>
		<a href="http://www.workcred.org/" title="Work Cred" target="_blank"><img src="@Url.Content( "~/images/footer/logo-workcred.jpg" )" alt="" /></a>
	</div><!--
	--><div class="column">
		<h5>Supported by:</h5>
		<a href="http://www.luminafoundation.org/" title="Lumina Foundation" target="_blank"><img src="@Url.Content( "~/images/footer/logo-lumina.jpg" )" alt="" /></a>
	</div><!--
	--><div class="column">
		<h5>Follow us:</h5>
		<a href="http://twitter.com/CTI_credential" title="Follow us on Twitter" target="_blank"><img src="@Url.Content( "~/images/footer/twitter.png" )" alt="" /></a>
		<a href="http://www.facebook.com/credtransparency" title="Follow us on Facebook" target="_blank"><img src="@Url.Content( "~/images/footer/facebook.png" )" alt="" /></a>
	</div>
</div>