@model CTIDirectory.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>

<div id="accountBox" class="singleColumn">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2>Change your password:</h2>
        @Html.ValidationSummary( "", new { @class = "error" } )
        
        <div class="input">
            <label>Old Password</label>@Html.PasswordFor( m => m.OldPassword )
        </div>
        <div class="input">
            <label>New Password</label>@Html.PasswordFor( m => m.NewPassword, new { title = "Password: Enter at least one upper case letter, one lower case letter and at least one character that is neither a letter or digit. (E.g. '- $ % _ etc.')" } )
        </div>
        <div class="input">
            <label>Confirm New Password</label>@Html.PasswordFor( m => m.ConfirmPassword, new { title = "Confirm Password - re-enter your password." } )
        </div>
        <div class="buttons">
            <button type="submit" class="actionButton">Change Password</button>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
