@model CTIDirectory.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>

<div id="accountBox" class="singleColumn">
    @using ( Html.BeginForm( "ForgotYourPassword", "Account", FormMethod.Post, new { role = "form" } ) )
    {
        <h2>Enter your email:</h2>
        @Html.ValidationSummary( "", new { @class = "error" } )
        <div class="input">
            <label>Email</label>@Html.TextBoxFor( m => m.Email )
        </div>
        <div class="buttons">
            <button type="submit" class="actionButton">Send Forgot Password Link</button>
        </div>
    }
</div>
@Scripts.Render( "~/bundles/jqueryval" )