@model CTIDirectory.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<link href="@Url.Content( "~/Style/AccountBox" )" rel="stylesheet" type="text/css" />

<h1>@ViewBag.Title</h1>

<div id="accountBox" class="singleColumn">
    @using ( Html.BeginForm( "ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" } ) )
    {
        @Html.AntiForgeryToken()
        <h2>Reset your password:</h2>
        @Html.ValidationSummary( "", new { @class = "error" } )
        @Html.HiddenFor( model => model.Code )
        
        <div class="input">
            <label>Email</label>@Html.TextBoxFor( m => m.Email )
        </div>
        <div class="input">
            <label>Password</label>@Html.PasswordFor( m => m.Password )
        </div>
        <div class="input">
            <label>Confirm Password</label>@Html.PasswordFor( m => m.ConfirmPassword )
        </div>
        <div class="buttons">
            <button type="submit" class="actionButton">Reset</button>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
