<div class="infoHeader">
    <img src="@Url.Content( "~/images/icons/cti_icon_info_bg.png" )" />
    <p>The Credential Registry provides information about credentials and credentialing organizations for users to better understand the credential marketplace. Here's some examples:</p>
</div>
<div class="photos">
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/students.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Students</div>
                <div class="description">Find credentials you can use, and learn what jobs a credential will actually qualify you for.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/occupations.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Job Seekers and Workers</div>
                <div class="description">Discover what bump in earnings you are likely to experience, and which credentials are stepping stones to higher levels.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/workers.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Young Adults and Career Changers</div>
                <div class="description">Connect to credentials that will get you where you want to go, how best to obtain them, and how to maximize the value of your skills and knowledge.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/jobseekers.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Employers</div>
                <div class="description">Learn what skills and knowledge a particular credential represents and how it compares to other credentials.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/educators.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Education, Training, and Credentialing Organizations</div>
                <div class="description">Communicate the distinct features, quality, value, and effectiveness of the credentials they award.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/government.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Government Agencies</div>
                <div class="description">Determine which education and training providers are eligible for attendance by students, including veterans and the unemployed, who are receiving government financial assistance.</div>
            </div>
        </div>
    </div>
</div>

