<div class="infoHeader">
    <img src="@Url.Content( "~/images/icons/cti_icon_star_bg.png" )" />
    <p>Quality assurance (QA) is a process - carried out by independent third parties known as "QA bodies" - used to verify the compliance of a credential issuer to specific guidelines, criteria, a standard, or a regulation.</p>
    <p>Using the Credential Registry, you can compare self-reported information from QA bodies about who they are, how they make their decisions, whether they are externally reviewed to validate their actions, and if their decisions are made available to the public. You can also verify the credential issuer's public declaration that they are recognized by that QA body.</p> 
    <p>Different types of quality assurance include:</p>
</div>
<div class="photos teal">
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/thumbsup1.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Accreditation</div>
                <div class="description">Attestation by an independent third-party conveying formal demonstration of a credential provider's competence to carry out specific assessment/evaluation tasks. Often a peer review process is used.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/thumbsup2.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Approval</div>
                <div class="description">A designated approving authority indicates fulfillment of specified requirements/ criteria/standards related to a credential/program/institution.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/thumbsup3.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Endorsement</div>
                <div class="description">A public or official statement of support from a QA body; may indicate fulfillment of specified requirements/criteria/standards.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/thumbsup4.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Recognition</div>
                <div class="description">Acknowledgement by a quality assurance entity based on specified requirements.</div>
            </div>
        </div>
    </div>
    <div class="photoBox" tabindex="0">
        <div class="photo" style="background-image: url('@Url.Content( "~/Images/Photos/thumbsup5.jpg" )');">
            <img src="@Url.Content( "~/Images/Common/Resizer_300x200.png" )" />
            <div class="photoOverlay">
                <div class="title">Employer Preference</div>
                <div class="description">A public declaration by an employer that they prefer a specific credential or credentials.</div>
            </div>
        </div>
    </div>
</div>